.hero {
    background-image: url("../images/apein-removebg-preview.png");
    background-repeat: no-repeat;
    background-position-x: right; 
    border-bottom: 1px solid black;
}
.footer{
    margin-top: 12px;
    background-color: rgba(0,102,56,1);
    border-top: 1px solid black;
}
#topStocks{
background: rgb(72,199,142);
background: linear-gradient(180deg, rgba(72,199,142,1) 0%, rgba(162,249,210,1) 28%, rgba(142,231,191,1) 52%, rgba(0,102,56,1) 100%);
border: 1px solid black;
border-top: none;
border-bottom: none;
margin-top: 11px;
}

.whiteText {
    color: white;
}

#subtitle {
    margin: 10px;
}

.newBox {
    margin: 20px;
}

.mainBox {
    margin-top: 11px;
    background: rgb(0,4,0);
background: linear-gradient(180deg, rgba(0,4,0,1) 0%, rgba(83,96,91,1) 51%, rgba(0,102,56,1) 100%);
}
